body{
    background-color: rgb(248, 239, 239);
}

#menu{
    background-color: white;
}

.menu-nav {
    max-width: 1280px;
    margin: 0 auto;
}

#menu .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
#menu .sub-nav li{
    margin-right: 54px;
    font-family: Gotham-Medium;
    font-size: 16px;
    text-transform: uppercase;
}
/* banner */
#banner {
    position: relative;
    background: url(../img/Gioithieu/Banner.png) center / cover no-repeat;
}
#banner .content {
    position: relative;
    margin-left:50%;
}
#banner .box {
    padding: 70px 60px 190px 60px;
    margin: 0 auto;
    max-width: 1110px;
}
#banner .content h1 {
    font-size: 32px;
    font-family: Gotham-Ultra;
    color: white;
    margin-top: 0.5em;
    font-weight: 700;
    text-align: center;
}
#banner .content .logo {
    display: block;
    margin-left:auto;
    margin-right: auto;
}
/* End Banner */

/* main */
#main .box{
    max-width: 1110px;
    position: relative;
    padding: 16px 24px;
    background-color: #fff;
    margin-top: -64px;
    margin-bottom: 64px;
}
#main .box h2 {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    font-family: Gotham-Ultra;
    color: #2c2e53;
}
#main .box h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 1px;
    border-top: 4px solid #bd945f;
}
#main .box-1{
    padding-top: 64px;
}
#main .box-1 .content p{
    font-size: 16px;
    font-family: Gotham-Medium;
    text-align: justify;
}
#main .box-2{
    margin-top: 64px;
}
#main .box-2 .content p{
    font-size: 16px;
    font-family: Gotham-Medium;
    text-align: justify;
}
#main .box-3{
    margin-top: 64px;
}
#main .why-choose .why-choose-box-1 {
    background-color: white;
    margin-bottom: 20px;
    border: 2.5px solid #bd945f;
    height: 160px;
}
#main .why-choose .why-choose-box-1 .img {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
#main .why-choose .why-choose-box-1 .content {
    align-items: center;
    padding: 24px;
}
#main .why-choose .why-choose-box-1 .content h3 {
    color: #bd945f;
    font-size: 23px;
    font-family: Gotham-Ultra;
}
#main .why-choose .why-choose-box-1 .content p {
    font-size: 15px;
    font-family: Gotham-Medium;
    margin: 0;
}
#main .border1{
    border: 3px solid #bd945f;
}
/* end main */

/* footer */
#footer{
    background-color: #363636;
    color: #fff;
    padding: 70px 0px 50px;
}
#footer h5{
    position: relative;
    font-size: 18px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 16px;
}
#footer h5::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border: 2px solid #fff;
}
#footer h4{
    font-size: 24px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 24px;
}
#footer ul{
    color: #fff;
    padding: 0;
}
#footer li{
    padding-bottom: 10px;
}
#footer li a{
    color: #fff;
    font-size: 16px;
    font-family: Gotham-Medium;
}