body{
    background-color: rgb(248, 239, 239);
}
/* menu */
#menu{
    background-color: white;
}

.menu-nav {
    max-width: 1280px;
    margin: 0 auto;
}

#menu .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
#menu .sub-nav li{
    margin-right: 54px;
    font-family: Gotham-Medium;
    font-size: 16px;
    text-transform: uppercase;
}
/* end menu */

/*carousel */
#carousel .carousel-item{
    position: relative;
}
#carousel .carousel-item .btn-carousel{
    position: absolute;
    top: 17rem;
    left: 70%;
}
#carousel .carousel-item .btn-carousel .btn-buy{
    padding: 0.2rem 1.3rem;
    color: var(--color);
    background-color: #fff;
    border: 0.2rem solid #fff;
    font-size: 16px;
    font-family: Gotham-Medium;
}
/* end carousel */

#select-option{
    margin-top: 120px;
    font-family: Gotham-Medium;
    font-size: 14px;
}
#select-option .color a{
    color: #bd945f;
}
/*product */
#product .container{
    background-color: #fff;
    margin-bottom: 60px;
}

#product .container h2 {
    color: #2c2e53;
    font-size: 32px;
    font-family: Gotham-Ultra;
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
}

#product .container h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    transform: translateX(0);
    width: 160px;
    height: 1px;
    border-top: 4px solid #bd945f;
}
.box {
    width: 100%;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 16px 0px 8px;
}

.name {
    margin-top: 10px;
    font-size: 16px;
    font-family: Gotham-Ultra;
}

.name a {
    color: black;
}

.vote {
    color: #bd945f;

}

.dect {
    opacity: 0.6;
    font-size: 14px;
    font-family: Gotham-Thin;
}

.price {
    font-size: 16px;
    font-family: Gotham-Medium;
}
#product .next-page{
    padding-top: 20px;
    padding-bottom: 10px;
}
#product .next-page li a{
    color: white;
    background-color: rgb(230, 224, 224);
}
/* end product */

/* footer */
#footer{
    background-color: #363636;
    color: #fff;
    padding: 70px 0px 50px;
}
#footer h5{
    position: relative;
    font-size: 18px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 16px;
}
#footer h5::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border: 2px solid #fff;
}
#footer h4{
    font-size: 24px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 24px;
}
#footer ul{
    color: #fff;
    padding: 0;
}
#footer li{
    padding-bottom: 10px;
}
#footer li a{
    color: #fff;
    font-size: 16px;
    font-family: Gotham-Medium;
}
/* end footer */