body{
    background-color: rgb(248, 239, 239);
}
/* menu */
#menu{
    background-color: white;
    margin-bottom: 60px;
}

.menu-nav {
    max-width: 1110px;
    margin: 0 auto;
}

#menu .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
@media (max-width: 991px){
    #menu .sub-nav .a::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        top: 90%;
        left: 0;
        border-bottom: 0.3rem solid #bd945f;
        transition: 0.3s ease;
  }
  }
#menu .sub-nav li{
    /* margin-right: 54px; */
    font-family: Gotham-Medium;
    font-size: 16px;
    text-transform: uppercase;
}
/* end menu */

/*product */
#product .container{
    background-color: #fff;
    margin-bottom: 60px;
}

#product .container h2 {
    color: #2c2e53;
    font-size: 32px;
    font-family: Gotham-Ultra;
    position: relative;
    padding-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#product .container h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 1px;
    border-top: 4px solid #bd945f;
}
#product .container .content h3{
    font-size: 18px;
    color: #bd945f;
    font-family: Gotham-Medium;
    max-width: 380px;
    text-align: justify;
    margin: 10px auto 10px auto;
}
#product .container .content p{
    font-size: 14px;
    font-family: Gotham-Medium;
    max-width: 380px;
    text-align: justify;
    margin: 0 auto;
}
.box {
    width: 100%;
    padding: 16px 0px 8px;
}

#product .next-page{
    padding-top: 20px;
    padding-bottom: 10px;
}
#product .next-page li a{
    color: white;
    background-color: rgb(230, 224, 224);
}
/* end product */

/* footer */
#footer{
    background-color: #363636;
    color: #fff;
    padding: 70px 0px 50px;
}
#footer h5{
    position: relative;
    font-size: 18px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 16px;
}
#footer h5::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border: 2px solid #fff;
}
#footer h4{
    font-size: 24px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 24px;
}
#footer ul{
    color: #fff;
    padding: 0;
}
#footer li{
    padding-bottom: 10px;
}
#footer li a{
    color: #fff;
    font-size: 16px;
    font-family: Gotham-Medium;
}
/* end footer */