.menu-nav {
    max-width: 1280px;
    margin: 0 auto;
}

#menu .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
#menu .sub-nav li{
    margin-right: 54px;
    font-family: Gotham-Medium;
    font-size: 16px;
    text-transform: uppercase;
}

.banner {
    position: relative;
    background: url(../img/Trangchu/Banner.png) no-repeat;
    background-size: cover;
    font-size: 18px;
    /* margin-top: 110px; */
}
.banner .box {
    padding: 8em 4em 18em 4em;
}
.banner .content {
    
}
.banner h1 {
    font-size: 2.0em;
    color: #2c2e53;
    margin-bottom: 0.5em;
    font-family: Gotham-Ultra;
}
.banner p {
    width: 50%;
    text-align: justify;
    margin-bottom: 2em;
    font-size: 1em;
    font-family: Gotham-Medium;
}
.banner a {
    display: inline-block;
    padding: 0.8em 1.5em 0.6em 1.5em;
    background: #bd945f;
    color: #fff;
    font-size: 1em;
    font-family: Gotham-Medium;
}
@media screen and (max-width: 767px){
    .banner .content h1 {
        font-size: 1.8em;
        font-family: Gotham-Ultra;
    }
    .banner .content p {
        width: 80%;
        margin-bottom: 1.5em;
        font-family: Gotham-Medium;
    }
    .banner .content a {
        font-size: .8em;
        font-family: Gotham-Medium;
    }
    .banner .box {
        padding: 4em 2em;
        margin-bottom: 4em;
    }
    .banner {
        font-size: 10px;
    }
    .category-frames{
        top: -4px;
        font-size: 14px;
    }
}
 
/* End Banner */

/* product */
#product {
    background-color: rgb(248, 239, 239);
}

#product .product-frames {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    background-color: white;
    top: -40px;
}

#product .product-item img {
    height: auto;
    width: auto;
}

.product-item .img {
    height: 160px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

#product .product-item p {
    font-family: Gotham-Ultra;
    color: #2c2e53;
    font-size: 16px;
}

.box-product-1 {
    margin-bottom: 60px;
}

.box-product-2 {
    padding-bottom: 64px;
}

.box-product-2 .box {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 16px 0px 8px;
}

.body-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product .product-frames-2 img {
    width: 100%;
}

.list-product {
    background-color: white;
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.list-product .body-list {
    margin-top: 10px;
    padding: 0 15px;
    text-align: center;
}

.name {
    margin-top: 10px;
    font-size: 16px;
    font-family: Gotham-Ultra;
}

.name a {
    color: black;
}

.vote {
    color: #bd945f;

}

.dect {
    opacity: 0.6;
    font-size: 14px;
    font-family: Gotham-Thin;
}

.price {
    font-size: 16px;
    font-family: Gotham-Medium;
}

.product-frames-2 {
    max-width: 1110px;
    margin: 0 auto;
    background-color: white;
}

.box-product-2 h2 {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    font-family: Gotham-Ultra;
    color: #2c2e53;
}

.box-product-2 h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 1px;
    border-top: 4px solid #bd945f;
}

#product .product-frames-2 .info {
    text-align: center;
}

/* end product */

/* about-us */
#about-us {
    padding: 100px 0 32px 0;
    background-image: url(../img/Trangchu/ve-chung-toi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#about-us ul {
    padding: 0;
    margin-bottom: 0;
}

#about-us .container h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Gotham-Ultra;
    position: relative;
    margin-bottom: 60px;
}

#about-us .container h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 1px;
    border-top: 4px solid #bd945f;
}

#about-us .about-us-box-1 .content {
    color: #fff;
}

#about-us .about-us-box-1 .content h3 {
    font-size: 24px;
    font-family: Gotham-Medium;
}

#about-us .about-us-box-1 .content p {
    font-size: 17px;
    font-family: Gotham-Thin;
    text-align: justify;
}

#about-us .why-choose-title {
    margin-top: 100px;
    font-family: Gotham-Medium;
}

#about-us .why-choose .why-choose-box-1 {
    background-color: white;
    margin-bottom: 20px;
    height: 169px;
}

#about-us .why-choose .why-choose-box-1 .img {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#about-us .why-choose .why-choose-box-1 .content {
    align-items: center;
    padding: 30px;
}

#about-us .why-choose .why-choose-box-1 .content h3 {
    color: #bd945f;
    font-size: 23px;
    font-family: Gotham-Ultra;
}

#about-us .why-choose .why-choose-box-1 .content p {
    font-size: 15px;
    font-family: Gotham-Thin;
    margin: 0;
}

/* end about-us */

/* new */
#news {
    padding: 100px 0 32px;
}

#news .container h2 {
    text-align: center;
    font-size: 32px;
    font-family: Gotham-Ultra;
    position: relative;
    margin-bottom: 60px;
}

#news .container h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 1px;
    border-top: 4px solid #bd945f;
}

#news .news-box {
    position: relative;
}

#news .news-box .content {
    background-color: #bd945f;
    padding: 24px;
    position: absolute;
    bottom: 0;
}

#news .news-box .content a {
    color: #fff;
    font-size: 18px;
    font-family: Gotham-Medium;
    text-align: justify;
}

#news .news-box .content p {
    color: black;
    font-size: 14px;
    font-family: Gotham-Medium;
    margin-bottom: 0;
    text-align: justify;
}

#news .news-box-2 ul {
    padding: 0;
}

#news .news-box-2 li {
    margin-bottom: 30px;
}

#news .news-box-2 .content {
    padding-left: 16px;
}

#news .news-box-2 .content a {
    color: #bd945f;
    font-size: 18px;
    font-family: Gotham-Medium;
    text-align: justify;
}

#news .news-box-2 .content p {
    color: black;
    font-size: 14px;
    font-family: Gotham-Medium;
    margin: 0;
    text-align: justify;
}

#news .see-more a {
    color: #bd945f;
    font-size: 19px;
    font-family: Gotham-Medium;
}

/* end news */

/* partner */
#partner {
    padding: 60px 0 32px 0;
}

#partner .container h2 {
    text-align: center;
    font-size: 32px;
    font-family: Gotham-Ultra;
    position: relative;
    margin-bottom: 60px;
}

#partner .container h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 1px;
    border-top: 4px solid #bd945f;
}

#partner .slick-prev:before,
#partner .slick-next:before {
    display: none;
}

#partner img {
    width: 120px;
}

/* end partner */

/* contact */
#contact {
    padding: 128px 0 96px;
    background-image: url(../img/Trangchu/lienhe-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#contact .container h2 {
    text-align: left;
    margin-bottom: 20px;
}

#contact .container h2>b {
    position: relative;
    color: #fff;
    font-size: 29px;
    font-family: Gotham-Medium;
    text-align: center;
}

#contact .container h2>b::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    transform: translateX(0);
    width: 160px;
    height: 1px;
    border-top: 4px solid white;
}

#contact .container p {
    color: #fff;
    font-size: 16px;
    font-family: Gotham-Medium;
    margin-bottom: 2px;
}

#contact .container input {
    border: none;
    width: 100%;
    height: 53px;
    padding: 16px 12px 16px 24px;
    font-family: Gotham-Medium;
    font-size: 14px;
    margin-bottom: 16px;
    display: flex;
}

#contact .container button {
    color: #fff;
    background-color: #bd945f;
    font-family: Gotham-Medium;
    border: none;
    padding: 10px;
    width: 108px;
    height: 56px;
}

/* end contact */

/* footer */
#footer{
    background-color: #363636;
    color: #fff;
    padding: 70px 0px 50px;
}
#footer h5{
    position: relative;
    font-size: 18px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 16px;
}
#footer h5::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border: 2px solid #fff;
}
#footer h4{
    font-size: 24px;
    font-family: Gotham-Medium;
    padding: 5px 0px;
    margin-bottom: 24px;
}
#footer ul{
    color: #fff;
    padding: 0;
}
#footer li{
    padding-bottom: 10px;
}
#footer li a{
    color: #fff;
    font-size: 16px;
    font-family: Gotham-Medium;
}

